@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Graduate&family=Hammersmith+One&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap%27');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.root {
  min-height: 100%;
}

::selection {
  color: black;
  background: white;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}