@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Graduate&family=Hammersmith+One&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap%27');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentContainer {
  background-color: #000000;
  height: 100%;
}

nav {
  background-color: #b0c1d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 0 5rem;
}

div.logo {
  height: auto !important;
}

.logoImg {
  width: 100px;
  height: auto;
}

.loginBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

main {
  background-color: #7e7e7e;
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.content {
  background-color: #413f3f;
  width: 30rem;
  height: 15rem;
  border-radius: 1rem;
  margin: 4rem 5.5rem;
  color: #fff;
  font-family: Graduate;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1.2rem;
}

.boldText{
  font-weight: bolder;
  font-family: Gowun Batang;
}

.content-head{
  text-align:center;
  font-size: 2.4rem;
}

.content-para{
  text-align:center;
  font-size: 1rem;
}

footer{
  padding: .5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: invert(1);
  font-family: Hammersmith One;
  font-size: 1.3rem;
  flex-shrink: 0;
}

a.ghIconHome{
  display: flex;
  align-items: center;
}

.githubIcon {
  font-size: 2rem;
  color: #000000;
}

.container {
  display: flex;
  padding: 2rem 15rem;
  width: 100%;
  background-color: #7e7e7e;
  justify-content: space-around;
}

.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Graduate", cursive;
  width: 56%;
}

@media screen and (max-width: 512px) {
  .hero-section {
    width: 100%;
  }
}

.hero-section h1{
  font-size: 40px;
  color: #000000;
  text-align: left;
}

.hero-section p{
  font-size: 25px;
  text-align: left;
  font-family: 'Gowun Dodum', sans-serif;
  color: #000000;
}

.image{
  float: left;
}

.features{
  color: #000;
  font-family: Graduate;
  background-color: #7e7e7e;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

.features-heading{
  font-size: 4rem !important;
}

::selection {
  color: black;
  background: white;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}