.main-container {
    display: flex;
    height: 100vh;
}

.leftComponent {
    width: 20vw;
}

/* CSS for the main content container */
.main-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 100vh; /* Set minimum height to fill the viewport */
}

/* CSS for the outlet content */
.main-outlet-content {
    flex: 1; /* Make the outlet take up the remaining vertical space */
    margin: 0;
    padding: 0;
}

/* CSS for the footer */
.footer-container {
    height: 50px;
}
