@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Jost&display=swap");

.loginBtn {
  padding: .5rem 2rem;
  border-radius: 3rem;
  border: 3px solid #fff;
  background: #66aff0;
  color: #000;
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
