img.profile{
  border-radius: 50%;
}

.profile-heading{
  color: #000;
  width: 53%;
}

/* CSS for the projects page container */
.projects-page-container {
  margin: 20px;
}

/* CSS for the heading */
.projects-page-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 20px;
}

/* CSS for the projects container */
.projects-container {
  display: flex;
  flex-wrap: wrap; /* Allow projects to wrap to the next row */
  justify-content: center; /* Center projects horizontally */
  }

/* CSS for each project container */
.project-container {
  flex: 0 0 calc(50% - 10px); /* Two projects in a row with 10px spacing between them */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 5px; /* Spacing between projects */
  gap: 1rem;
}

/* CSS for project rows */
.project-row-1,
.project-row-2,
.project-row-3 {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

/* CSS for project name */
.project-name {
  font-size: 20px;
  text-decoration: none;
}

.project-repo-link {
  margin-left: auto;
}

/* CSS for the GitHub link icon */
.project-row-1 a {
  color: #007bff;
  font-size: 24px;
}

/* CSS for project tech stack */
.project-tech {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

/* CSS for project progress title */
.progress-title {
  font-size: 16px;
}

/* CSS for progress bar container */
.progressbar-container {
  flex: 1;
  background-color: #ccc;
  border-radius: 5px;
}

.progress-tracker {
  width: 75%;
}

/* Form Styling */
/* CSS for the create project form */
.create-project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* CSS for create project input fields */
.create-project-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* CSS for the select dropdown */
.react-select-container {
  width: 100%;
  margin-bottom: 15px;
}

.projects-btns {
  display: flex;
  gap: 2rem;
}

/* CSS for the create project button */
.create-project-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.create-project-btn:hover {
  background-color: #0056b3;
}

/* CSS for the cancel button */
.cancel-btn {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #d9d9d9;
}

/* CSS for the add project button */
.add-project-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 45%;
}

.add-project-btn:hover {
  background-color: #0056b3;
}

.add-project-btn:focus {
  outline: none; /* Remove the default focus outline */
}

.add-project-btn:active {
  background-color: #004080; /* Darken the color when button is clicked */
}

