@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Hammersmith+One&display=swap");

.sidebar-container {
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b1c2d1;
    overflow: hidden;
    padding-top: 2rem;
    height: 100vh;
}

.divLogo {
    display: flex;
    justify-content: center;
}

.logo {
    height: 25vh;
}

.sidebar-nav-links {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: flex-start;
    justify-content: center;
}

.sidebar-nav-link {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #000000;
    font-family: "Graduate", cursive;
    font-size: 1.4rem;
}

.sidebar-nav-link:hover {
  text-decoration: none;
}


.sidebar-nav-icon {
  height: 100%;
}




