@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Hammersmith+One&family=Jost:wght@400&display=swap");
.profileContainer {
    background-color: #7e7e7e;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Hammersmith One;
}

.profileImg {
    width: 50vw;
    margin: auto;
    text-align: center;
    padding-left: 10rem;
}

.profile {
    width: 14rem;
    height: auto;
    margin: auto;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileImg {
    margin-top: 20rem;
}

.userDetails .profileText {
    width: 50vw;
    text-align: center;
}

.profileText h1 {
    margin: 0;
    color: #000000;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Graduate", cursive;
}

.userData li {
    list-style: none;
    font-size: 2rem;
    margin: 2rem;
    font-family: "Jost", sans-serif;
}

.userData li {
    display: flex;
}

.leftDataItem {
    width: 11rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.updateBtn,
.skills .skill {
    font-size: 1.5rem;
    padding: 0.6rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    background: #0b0909;
    color: #fffef9;
    font-family: "Jost", sans-serif;
}

.formList {
    display: flex;
    align-items: center;
}

.skillForm {
    display: flex;
    margin-left: 1rem;
    align-items: center;
    gap: 1rem;
}

.skills button {
    margin-left: 0.5rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    background: #fff;
    width: 3rem;
}
